@use "@/mixins"

component
  display: flex
  flex-direction: column
  row-gap: 0.5em
  @include mixins.Control

  > header
    display: grid
    grid-template: 1fr / auto 1fr
    column-gap: 0.5em
    align-items: center
    color: var(--color-cream)

    > svg
      font-size: 14px
      margin-left: 0.125em

    > h1
      font-size: 12px

  > div.label
    padding: 0.5em
    border-radius: 0.25em
    font-size: 0.75em
    width: 15em
    outline: 0.5px rgba(white, 0.1) solid
    background-color: rgba(black, 0.5)

  > button
    padding: 0.5em
    border-radius: 0.25em
    font-size: 0.75em
    width: 15em
    outline: 0.5px rgba(white, 0.1) solid
    background-color: rgba(white, 0.05)
    cursor: pointer

    &:hover
      background-color: rgba(white, 0.1)
