component
  display: flex
  flex-direction: row
  align-items: center
  gap: 1em
  font-size: 9px

  > .field
    display: flex
    flex-direction: row
    align-items: center
    gap: 0.5em

    > label
      opacity: 0.4
