component
  display: grid
  grid-template-columns: subgrid
  grid-column: 1 / -1
  color: var(--color-dark)
  align-items: center

  &:hover
    color: var(--color-gray)

  &.selected
    color: var(--color-white)

  > div.meta
    display: grid
    grid-template-columns: subgrid
    grid-column: span 3
    padding-left: calc(6px + var(--indent, 0px))

    &:active
      cursor: grabbing

    > span
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis

      &.name
        display: flex
        align-items: center
        column-gap: 0.4em

        > svg.file
          flex: 0 0 auto
          width: 1em
          height: 1em
          color: var(--color-shadow)

        > span.warning
          flex: 0 0 auto
          color: var(--color-yellow)

      &.right
        text-align: right
